.accessibility {
    grid-row: line4 /span 1;
    display: grid;
    grid-template-columns: [start] 8% [line2] 30% [line3] 8% [line4] 30% [end];
    grid-template-rows: [start] 25px [line2] 25px [line3] 50px [line4] 50px [line5] 50px [end];
}

.size-select * {
    display: inline;
}
.width-select-header {
    grid-column: line2 / span 1;
    grid-row: start / span 1;
}
.width-select {
    grid-column: start / span 2;
    grid-row: line2 / span1;
}

.height-select-header {
    grid-column: line4 / span 1;
    grid-row: start / span 1;
}
.height-select{
    grid-column: line3 / span 2;
    grid-row: line2 / span 1;
}

.chevron {
    height:30px;
    width: 25px;
}
.rails-switch {
    grid-column: start / end;
    grid-row: line3;
}
.stool-switch {
    grid-column: start / end;
    grid-row: line4;
}
.screen-reader-switch {
    grid-column: start / end;
    grid-row: line5;
}

.toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfbfbf;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .switch-slider {
    background-color: #20539B;  
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #20539B;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}