.phone {
    height: 500px;
    width: 250px;
    background-color: #202020;
    border: #606060 solid 1px;
    border-radius: 10px;;
    grid-column: line5 / end;
    grid-row: line2 / end;
    z-index: -2;
    display: grid;
    grid-template-columns: 5% 25% 15% 5% 5% 15% 25% 5%;
    grid-template-rows: 10px 20px 320px 60px 20px 70px 10px;
}

.microphone {
    position: relative;
    height: 5px;
    width: 25px;
    border-radius: 16px;
    background-color: #404040;
    grid-column: 4 / 6;
    margin-top: 10px;
}

.camera {
    position: relative;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #404040;
    grid-column: 6 / 7;
    margin-top: 10px;
    margin-left: 5px;
}

.screen {
    position: relative;
    height: 450px;
    border: #202020 solid 1px;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #C0E8F9, #24beff);
    grid-column: 2 / 8;
    grid-row: 3 / 7;
    display: flex;
    justify-items: center;
}
.connect-button {
    height: 50%;
    grid-column: 3 / 7;
    grid-row: 4 / 5;
    color: white;
    background-color: #21897E;
    border-radius: 50px;
    margin-top: 10px;
    z-index: 4;
}

#connect {
    display: inline;
}

#disconnect {
    display: none;
}

.connected-to {
    z-index: 4;
    position: relative;
    top: -12px;
    margin:  0 10px 0 20px;
    grid-column: 1 / 9;
    grid-row: 5 / 6;
}

.phone-box {
    background-color: #20539B;
    color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: #202020 1px 1px 1px 1px;
    padding: 10px;
}

.phone-page {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    width: 90%;
    height: 100%;
    z-index: 5;
    padding: 0 10px;
}

.health-page {
    display: none;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 5% 25% 5% 25% 5% 25%;
    row-gap: 5px;;
}
.health-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 5px;
}
.health-box-one {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}
.health-box-two {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
    height: 75%
}
.bathroom-trips {
    margin: 20px 0;
}
.water-page {
    display: none;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 5% 40% 5% 40%;
}

.water-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 5px;
}
.water-box {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}
.rgb-page {
    display: none;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 5% 25% 5% 25% 5% 25%;
}
.rgb-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 5px;
}
.rgb-box {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: 20% 20% 10% 20% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 5px;
}
.rgb-input {
    width: 40px;
    height: 20px;
}

#red-rgb-label {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}
#red-rgb {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}
#green-rgb-label {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
}
#green-rgb {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}
#blue-rgb-label {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
}
#blue-rgb {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
}
.rgb-button {
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 16px;
    background-color: #21897E;
    color: white;
    z-index: 5;
}
.no-rgb {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
.save-rgb {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
}

.defaults-page {
    display: none;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 5% 40% 5% 40%;
}
.defaults-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 5px;
}
.defaults-box {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}
.default-text {
    margin: 15px 0;
}
.icon-bar {
    position: relative;
    height: 50px;
    width: 223px;
    margin: 1px 0 0 1px;
    background-color: #d9d9d9;
    border-radius: 5px;
    grid-column: 2 / 9;
    grid-row: 6 / 7;
    display: grid;
    grid-template-columns: 20px 40px 10px 40px 10px 40px 10px 40px 10px;
    grid-template-rows: 10px 20px 10px 10px;
}

.phone-button{ 
    display: inline-block;
    position: relative;
    gap: 10px;
    z-index: 100;
}

.phone-button-label {
    font-size: 10px;
}

.phone-button-icon {
    margin-left: 5px;
    z-index: 101;
}

.phone-health {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}
.phone-water {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.phone-water-label {
    position: relative;
    left: 3px;
}
.phone-rgb {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
.phone-rgb-label {
    position: relative;
    left: 9px;
}

.phone-defaults {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}
.divider {
    height: 25px;
    width: 1px;
    border-radius: 1px;
    background-color: #808080;
}
.divider-one {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}
.divider-two {
    grid-column: 5 / 6;
    grid-row: 2 / 5;
}
.divider-three {
    grid-column: 7 / 8;
    grid-row: 2 / 5;
}
