body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: [start] 300px [line2] 100px [line3] 300px [line4] 100px [line5] 300px [end];
    grid-template-rows: [start] 175px [line2] 350px [line3] 350px [end];
    column-gap: 10px;
    row-gap: 10px;
    position: absolute;
    z-index: -100;
}
.header-info {
    grid-row: start / span 1;
    grid-column: start / span 1;
}
.ui-border {
    background-color: #dfdfdf;
    border: black 1px solid;
    height: 675px;
    width: 275px;
    padding: 20px;
    grid-row: line2 / end;
    grid-column: start / span 1;
    display: grid;
    grid-template-columns: [start] 25% [line2] 10% [line3] 30% [line4] 10% [line5] 25% [end];
    grid-template-rows: [start] 25px [line2] 220px [line3] 100px [line4] 225px [line5] 100px [end];
}

h4 {
    margin: 5px 0;
}
h3 {
    margin: 0 0 5px 0;
}

button {
    background: #fdfdfd;
    border: #606060 1px solid;
    border-radius: 15px;
    font-weight: 600;
    margin: 5px 0;
    box-shadow: #202020 1px 1px 0 0;
}

button:hover {
    background: #dfdfdf;
    cursor:pointer;
}

i {
    position: relative;
    color: #21897E;
    cursor: pointer;
}

input[type="radio"], label{
    cursor: pointer;
}

#leak-warning {
    grid-column: start /span 1;
    grid-row: start / span 1;
    position: relative;
    top: 15px;
    left: 30px;
    color: #F47174;
    display: none;
}
.main-ui-icon {
    margin: 5px 5px 20px 5px;
}


.main-button {
    height: 80px;
    width: 80px;
}


.user-label {
    grid-column: line2 / end;
    grid-row: start / span 1;
    margin: 5px;
}
.user-circle {
    background-color: transparent;
    border: #21897E solid 3px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    grid-column: start / span 1;
    grid-row: line4 / span 1;
}


.interface-section {
    margin: 10px 0;
    padding: 5px;
    background-color: #C0E8F9;
    border: #c6c6c6 2px solid;
    border-radius: 10px;
    grid-column: start / end;
}
