.users {
    height: 80px;
    width: 80px;
    grid-column: line5 / end;
    grid-row: line5 / span 1;
}
.user-menu {
    grid-column: start / end;
    grid-row: line4 / span 2;
    z-index: 100;
    box-shadow: 4px 4px 4px 4px #606060 ;
    background-color: #C0E8F9;
    padding: 10px 10px;
    display: none;
    grid-template-columns:  25% 25% 25% 20% 5%;
    grid-template-rows: 20% 10% 10% 20% 20%;
}

.user-header {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}


.close-users {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    position: relative;
    right: -40px;
    color: rgb(192, 14, 14);
    cursor: pointer;
}

.user-select {
    border: #21897E solid 5px;
    background-color: #C0E8F9;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    margin-top: 20px;
}

.john {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.timo {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.gustavo {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.betsy {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

